@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

body {
    font-family: 'Kirang Haerang', Courier, monospace;
}

nav {
    font-family: 'Barrio', Helvetica, sans-serif;
}

.navbar-brand {
    font-size: 7rem;
    justify-content: left;
}